<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hello {{ nama }}</title>
<!--Load bootstrap.css file-->
<link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="jumbotron">
<div class="display-4">Hello, {{nama}}</div>
<br>
	<h1 class="display-5">Nama : {{ nama }}</h1>
	<h1 class="display-5">NIS : {{ nis }}</h1>
	<h1 class="display-5">Kelas : {{ kelas }}</h1>
	<h1 class="display-5">No Absen : {{ no }}</h1>
	<h1 class="display-5">Alamat : {{ alamat }}</h1>
	<hr class="my-4">
<a class="btn btn-primary btn-lg" href="#" role="button">Learn
more</a>
</div>
</div>
</div>
</div>
<!--Load bootstrap.js file-->
<script src="js/bootstrap.js"></script>
</body>
</html>